#titulo { /* ID: excusivo par uma tag */
    text-align: center; /* alinhamento do título */
    font-family: verdana; /* Define o nome da fonte */
    font-size: 35px; /* Define o tamanho da fonte */
    color: rgb(0, 105, 255); /* Define a cor da fonte */;
}
#titulo:hover{
    font-size: 50px;
    text-transform: uppercase;
    background-color: rgb(0, 105, 255);
    color: white;
}
.subti { /* CLASS: Para um grupo de tags */
    color: rgb(0, 255, 105);
    font-family: verdana;
    font-size: 20px;
    background-color: black;
    text-align: center;
    padding: 3px;
}

.subti:hover {
    font-size: 30px;
    color: black;
    background-color: rgb(0, 255, 105);
}

a {
    font-family: Tahoma;
    font-size: 16px;
    color: black;
    font-weight: bold;
    text-decoration: none;
}
a:hover {
    color: #7f7f7f;
}
#asul {
    list-style-type: disc;
}
#acentral {
    list-style-type: upper-roman;
}
#anorte {
    list-style-type: circle;
}
#africa {
    list-style-type: decimal;
}
#asia {
    list-style-type: square;
}
#oceania {
    list-style-type: lower-roman;
}
#europa {
    list-style-type: upper-alpha;
}

li {
    font-family: Tahoma;
    font-size: 18px;
    color: hsl(230, 100%, 25%)
}
li:hover {
    font-weight: bold;
    color: hsl(215, 100%, 50%);
}